/* NAVBAR */
body {
  overflow-x: hidden;
}
.nav1 {
  background-color: #126e82;
  display: flex;
  justify-content: flex-end;
}
.logo {
  margin-right: auto;
}
.nav1 h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}
.nav1 div {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 7px 15px;
  font-size: 17px;
}

.nav1 a {
  text-decoration: none;
  color: #ffffff;
}

.nav1 .child:hover {
  background-color: #3cb0fd;
}

.nav1 .active {
  background-color: #000000;
  color: white;
}

body {
  text-align: center;
  margin: 0;
}

img {
  height: 300px;
  width: 350px;
}
.c {
  padding: 50px;
}

.caa {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn1 {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 22px;
  background: #3498db;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
  border: none;
  margin-bottom: 30px;
}

.btn1:hover {
  background: #3cb0fd;
  text-decoration: none;
  border: none;
}

.colored-section {
  background-color: #126e82;
  color: #ffffff;
}

.black-section {
  background-color: #000000;
  color: #ffffff;
}

.b {
  padding: 250px 30px 250px 30px;
}

.d {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 60%;
}
.img-div {
  display: inline-block;
  background-color: #000000;
  margin: 12px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  margin-bottom: 16px;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  background: #3498db;
  padding: 7px;
  text-decoration: none;
  width: 100%;
  border: none;
}

input[type="submit"]:hover {
  background: #3cb0fd;
  text-decoration: none;
  border: none;
}

.d p {
  text-decoration: none;
  text-align: left;
  padding: 6px 0px;
  margin: 0;
}
.container {
  padding: 10px 50px;
  text-align: left;
}

.container1 {
  text-align: left;
  display: block;
}

.e {
  padding: 50px 10px;
}

.icon-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

hr {
  background: pink;
  margin: 0;
}

/* Fonts */

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 300%;
  margin: 0;
}

p {
  font-family: "Itim", cursive;
  font-size: 125%;
}

.d p,
h2,
label {
  font-family: "Itim", cursive;
  font-size: 125%;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 200%;
  margin: 0;
  padding-bottom: 20px;
}

.f {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

h5 {
  font-family: "Itim", cursive;
  font-size: 150%;
  margin-top: 30px;
}
.e {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ea {
  width: 80vw;
}

.icon1 {
  display: flex;
  align-items: center;
  margin: 10px;
}

i {
  margin: 7px;
}
@media screen and (max-width: 810px) {
  .nav1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .child,
  .logo {
    width: 100vw;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
  }
  .logo {
    margin-right: 0;
  }
  .f {
    flex-direction: column;
  }
  .caa {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .c {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 70vw;
  }
  .icon-div {
    width: 85vw;
  }
  .ca h2 {
    width: 80vw;
    margin-top: 30px;
  }
}
