*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F2EFEB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container .heading {
    text-transform: capitalize;
    font-size: 1.5rem;
}

.container .heading-main {
    text-transform: uppercase;
    flex-wrap: wrap;
    font-size: 2.5rem;
    text-align: center;
}

.container .heading-main::after {
    content: '';
    width: 40%;
    height: 3px;
    background-color: black;
    display: block;
    margin: auto;
    margin-top: 12px;
}

.container .intro {
    font-size: 1.2rem;
    text-align: center;
    flex-wrap: wrap;
    padding: 0px 70px;
}

.container .btn {
    background-color: #FF9900;
    color: #F2EFEB;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
    transition: all 100ms ease-in-out;
}

.container .btn:hover {
    background-color: #9c5e00;
}

.container .btn:active {
    background-color: #1d1100;
}