/* Color Pallete
#393e46
#00adb5
#aad8d3
#eeeeee */

body{
    margin: 0;
}



ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #00adb5;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  z-index: 5;
}

li{
  padding-left: 10px;
}

li a{
  position: relative;/**/
  display: block;
  color: #eeeeee;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

li a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #eeeeee;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

li a:hover:before{
  visibility: visible;
  transform: scaleX(1);
}

li a:hover {
  background-color: #393e46;
}

.title{
    padding: 14% 5%;
    margin: 0;
    background-color: #393e46;
    color: #eeeeee;
    text-align: center;
}
.title h1{
    font-family: 'Just Another Hand', cursive;
    font-size: 4rem;
    letter-spacing: 10px;
}
.title p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 1.5rem;
}

.projects{
    background-color: #00adb5;
    padding: 3% 14% ;
    text-align: center;
}
.projects h3{
    text-decoration: underline;
    margin: 0;
    padding: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}

.cards{
  text-align: center;
}

img{
  max-width: 300px;
  height: 300px;
  width: 100%;
  margin-bottom: 0;
  /* position: relative; */
}
.img{
  width: fit-content;
  display:inline-block;
  margin:1rem 0;
  background-color: #393e46;
}
.img p{
  font-family: 'Ubuntu';
  color: #eeeeee;
  background-color: #393e46;
  padding: 1rem 0;
  margin:0;
  position: relative;
  bottom: 5px;
}

img:hover{
  position: relative;
  z-index: 1;
  opacity: 50%;
}

.button,button{
  font-size: 20px;
  padding: 5px 30px;
  background-color: #d8aaaa;
  font-weight: bold;
  color: #393e46;
}

button:hover{
  background-color: #aad8d3;
}
.button:hover{
  background-color: #aad8d3;
}

/* ---------------------------------------------------- */
.survey{
  font-family: 'Ubuntu';
  color: #eeeeee;
  background-color: #393e46;
  margin: 0;
  padding: 3% 14%;
  text-align: center;
}

form{
  text-align: left;
  padding : 0 25%;
}

textarea,.button,.details{
  width:100%;
  padding-left: 0;
  padding-right: 0;
  border-right: 0;
  border-left: 0;
  margin-bottom: 10px;
}
/* --------------------------------------- */
.contact{
  padding : 3% 14%;
  text-align: center;
  background-color: #00adb5;
  color: #eeeeee;
}

.contact h2{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact p{
  color: #aad8d3;
  font-style: italic;
  font-family: 'Caveat', cursive;
  font-weight: 600;
  font-size: 2.2em;
  margin-top: 1rem;
}


.icon{
  color: #eeeeee;
  text-decoration: none;
  font-size: 120%;
  font-family: 'Ubuntu';
}

.icon:hover{
  color:#393e46
}

.fab,.fas{
  padding-left: 3%;
  font-size: 120%;
}

.footer p{
  background-color: #aad8d3;
  margin: 0;
  padding: 1% 3%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  
}

@media (max-width:814px){
  form{
    padding: 0 5%;
  }
  .icons{
    text-align: center;
  }
  .icon{
    display: block;
    padding : 5px 0;
  }
}
@media (max-width:500px){
  li{
    padding: 0;
  }
  .navbar ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: static;
  }
}

@media (max-width:1100px){
  img{
    width: 200px;
    height: 200px;
  }
}
