*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.header{
  background-color: #ff4c68;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4.9.30,0.7)),url(ADG_TASKS\TASK_1\OIP.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
/* -------navbar-------- */
nav{
  display: flex;
  padding: 2% 4%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 20px;
}
nav img{
  width:100px;
  height:100px;
  border-radius: 50%;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style:none;
  display:inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;

}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height:2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width:100%
}
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 58px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
.hero-btn{
  display:inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}
/* @media(max-width:700px) {
  .text-box h1{
    font-size: 20px;

  }
  .nav-links ul li{
    display:block;
  }
  .nav-links{
    position: absolute;
    background: #f44336;
    height:100vh;
    width:200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index:2;
  }
} */
.about{
  width: 80%;
  margin: auto;
  text-align: left;
  padding-top: 100px;
}
h1{
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding:10px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
/* ----------about--------- */
.achievements-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.achievements-col:hover{
  box-shadow: 0 0 20px 0px rgba(255, 0, 0, 0.5);
}
/* ---------projects-------- */
.projects{
  width: 80%
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color:  #ffe4e1;
}
.projects-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;

}
.projects-col img{
  width: 100%;
  display: block;
}
.layer{
  /* background: rgba(0, 0, 0, 0.5); */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
.layer:hover{
  background: rgba(190, 0, 0, 0.5);
}
.layer h3{
  width: 100%;
  font-weight: 500;
  color:#fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  transition: 0.5s;
}
.layer:hover h3{
  bottom:49%;
  opacity: 1;

}
/* .survey{
  width: 80%;
  margin: 100px auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7),url(pics\image.jpg));
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
  } */
  #survey_form{

    padding-top: 70px;
    padding-left: 400px;
    padding-right: 400px;
    background-color:#ef8172;
    /* align-items:center ; */
    justify-content: center;
    color: azure;
    font-family: 'Crimson Text', serif;
    /* text-align: center; */
  }
  #survey{
    align-self: flex-start;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 2rem;
  }
.remark{
  color: #fff;
  font-size: 20px;
}
.form_content
{
  align-items:
}
.btn{
    padding-left: 150px;
}
.containerF {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containerF h1 {
  font-size: 3rem;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials i {
  margin: 1rem;
}
.socials i:hover{
  cursor: pointer;
}
.extro {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.extro > p {
  font-size: 1.3rem;
}
.footer {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #272343;
  background-color: #ff4c68;
  border-radius: 10px;
}
