html{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 200%;
    color: white;
    margin: 0px;
    background: url(moon-2048727_1920.jpg);

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
