body {
  background-color: #f2efeb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8%;
  font-family: "Playfair Display", serif;
}
h2 {
  padding-left: 30%;
  font-weight: 450;
  font-size: 30px;
}
h1 {
  font-weight: 580;
  font-size: 35px;
  text-align: center;
  flex-wrap: wrap;
}
.heading {
  padding-left: 8%;
}
hr {
  width: 30%;
  margin-left: 33%;
  border: 1px solid black;
}

p {
  padding-top: 6%;
  letter-spacing: 0.2px;
  text-align: center;
  flex-wrap: wrap;
  font-size: 18px;
}
.btn {
  background-color: #ffa41c;
  border: none;
  color: rgb(10, 10, 10);
  padding: 15px 60px;
  text-align: center;
  margin-top: 50px;
  margin-left: 65px;
  display: flex;
  display: grid;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 1px;
}
.btn:hover {
  background-color: white;
  border: 2px solid rgb(251, 14, 14);
}
