body{
    font-family: 'Balsamiq Sans', cursive;
    margin: 0;
    text-align: center;
}

h1{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 5rem;
    margin: 0;
}

h2{
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 2rem;
    margin: 0;
}

h3{
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
}

h4{
    margin: 4% auto;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.25rem;
    padding: 0 4%;
    text-shadow: 2px 2px 4px black;
}

h5{
    margin: 0;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 1rem;
}

p{
    font-size: 1.2rem;
    margin: 0;
}

a{
    text-decoration: none;
}

footer{
    background-color: black;
    color: white;
    padding: 1%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.banner-title{
    animation: title-anim 2s 0.25s none;
    position: absolute;
    left: 5%;
    top: 30%;
    text-shadow: 4px 4px 8px black;

}

@keyframes title-anim {
    from{
        top: 100%;
        opacity: 0;
    }

    to{
        top: 30%;
        opacity: 1;
    }
}

.banner-subtitle{
    animation: subtitle-anim 2s 0.25s none;
    position: absolute;
    left: 5%;
    top: 50%;
    text-shadow: 4px 4px 8px black;
}

@keyframes subtitle-anim {
    from{
        top: 100%;
        opacity: 0;
    }

    to{
        top: 50%;
        opacity: 1;
    }
}

.banner{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    margin: 0;
    display: block;
}

.side-hr-1{
    border-bottom: none;
    border-top: solid #185adb 2px;
    display: inline-block; 
    width: 5%;
}

.div-heading-1{
    color: #0A1931;
    display: inline-block; 
    margin: 2%;
}

.side-hr-2{
    border-bottom: none;
    border-top: solid #ffc947 2px;
    display: inline-block; 
    width: 5%;
}

.div-heading-2{
    color: white;
    display: inline-block; 
    margin: 2%;
}

.side-hr-3{
    border-bottom: none;
    border-top: solid white 2px;
    display: inline-block; 
    width: 20%;
}

.top-div{
    color: white;
    height: 100%;
    margin: 0;
    position: relative;
}
.about-holder-div{
    background: url(../raw/bodybg.png) no-repeat;
    background-position: top;
    background-size: 100%;
    margin: 0 auto 4%;
}

.profile-pic{
    border-radius: 50%;
    float: left;
    margin-right: 2rem;
    margin-top: 1rem;
    width: 32%;
}

.about-div{
    border-radius: 2%;
    background-color: #feddbe;
    box-shadow: 8px 8px 16px;
    color: #0A1931;
    width: 90%;
    line-height: 2;
    margin: 0 auto;
    padding: 2% 4% 2%;
    text-align: left;
}

.projects-holder-div{
    background: url(../raw/projectbg.png) no-repeat;
    background-position: center;
    background-color: #0A1931;
    background-size: 100%;
    margin: 2% auto 0;
}

.projects-div{
    margin: 0 auto;
    width: 90%;
    padding: 0 2% 4%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
}

.project{
    background-color: #185adb;
    border-radius: 2%;
    box-shadow: 4px 4px 8px black;
    color: white;
    line-height: 2;
    margin: 4%;
    padding-bottom: 2%;
    transition: all .2s ease-in-out;
}

.project:hover{
    /*background-color: #0f0e0f;
    box-shadow: none;
    padding: 25%;
    content: url(../raw/github.png);
    width: 16rem;
    height: 13rem;*/
    transform: scale(1.1);
}

.project-image{
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    width: 100%;
}

.awards-holder-div{
    background: url(../raw/awardsbg.png);
    background-position: top;
    background-color: #ffc947;
    background-size: 100%;
    margin: 0 auto;
    position: relative;
}

.awards-div{
    margin: 0 auto;
    width: 90%;
    padding: 0 2% 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
}

.c2c, .hacksoverflow, .hackulus, .bhilai, .devsoc, .hackupc, .ideafind{
    background-color: #0A1931;
    border-radius: 2%;
    box-shadow: 4px 4px 8px black;
    color: white;
    margin: 4%;
    transition: all .2s ease-in-out;
    line-height: 1.25;
}

.c2c:hover, .hacksoverflow:hover, .hackulus:hover, .bhilai:hover,
.devsoc:hover, .hackupc:hover, .ideafind:hover{
    transform: scale(1.1);
}

.bhilai:hover{
    content: url(../raw/cert-bhilai.png);
    width: 100%;
}

.hacksoverflow:hover{
    content: url(../raw/cert-overflow.png);
    width: 100%;
}

.ideafind:hover{
    content: url(../raw/cert-ideafind.png); 
    width: 100%;
}

.award-image{
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    width: 100%;
    margin: 0;
    display: block;
}

.footer-start{
    width: 100%;
    margin: auto;
    text-align: left;
    /* position: relative;
    top: 1.25rem; */
}

.footer-mid{
    width: 100%;
    margin: auto;
    text-align: center;
    /* position: relative;
    top: 1.25rem; */
}

.social-links-div{
    width: fit-content;
    text-align: end;
    padding: 0;
    /* position: relative;
    bottom: 1.2rem; */
}

.social-links{
    margin: 0 2% 1%;
    width: 5%;
}

.social-links:hover{
    opacity: 0.8;
}