.choice-container {
    display: flex;
    margin-bottom: 1.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(89, 165, 235, 0.25);
    background-color: white;
  }
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(119, 201, 241, 0.5);
    transform: translate(0.1rem);
    transition: transform 150ms;
  }
.choice-prefix {
    padding: 1.5rem;
    background-color: rgb(255, 196, 0);
    color:black;
  }
.choice-text {
    padding: 1.5rem;
    width: 100%;
}
.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}
#vision {
    display: flex;
    justify-content: space-between;
}
.vision-prefix {
    text-align: center;
    font-size: 2.1rem;
}
.vision-main-text {
    text-align: center;
}
#growth {
    width: 20rem;
    height: 2rem;
    border: 1rem  black;
    margin-top: 1.5rem;
  }
#growthFull {
    height: 1.4rem;
    background-color:lightblue;
    width: 50%;
}