@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Alef', sans-serif; */
/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Lobster', cursive; */
body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #fadadd;
}

#maintitle {
    font-family: 'Lobster', cursive;
    font-size: 300%;
    margin-bottom: 40px;
    color: #54add3;
    /* color: white; */
    text-shadow: 3px 3px 0 #000,
                -1px -1px 0 #000,  
                 1px -1px 0 #000,
                -1px 1px 0 #000,
                 1px 1px 0 #000;
    
}

.fa-trash-o {
    color: red;
}

.fa-trash-o:hover {
    cursor: pointer;
}

form {
    margin-top: 3rem;
}

input[type=text], input[type=date], input[type=number] {
    /* background-color: #9FE2BF*/
    background-color: #fadadd;
    border: none;
    border-bottom: 4px solid #54add3;
    color: black;
    font-size: 18px;
    margin: 10px;
    height: 30px;
    /* padding: 5px; */
    padding: 5px 5px 0px 10px;
}

input[type=text]:focus, input[type=date]:focus, input[type=number] {
    outline: none;
}

/* #transdate {
    width: 7%;
} */

#desc {
    width: 25%;
}

#val {
    width: 5%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    /* opacity: 1; Firefox */
}
  
button {
    background-color: #fadadd;
    border-radius: 50%;
    border: none;
}

#formAddButton {
    margin-bottom: 20px;
    transition: 0.2s ease-in;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

button:focus {
    outline: none;
}

.fa-plus-circle {
    color: #54add3;
}

#tabs {
    margin-bottom: 4rem;
}

#total, #spend, #earn {
    display: inline-block;
    width: 12%;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    margin: 60px 28px 28px 30px;
    /* height: 26px; */
}

#total {
    background-color: #54add3;
}

#earn {
    background-color: rgb(9, 167, 9);
}

#spend {
    background-color: red;
}

#total-amt, #earn-amt, #spend-amt, #txt {
    display: inline;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid gray;
}

th {
    /* font-weight: 900; */
}

p {
    margin: 8px;
}