body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;
    background-color: rgb(246, 81, 81);
  }
  .container{
    margin: 30px auto;
    width: 350px;
  }

  h2{
    display: block;
    justify-content: center;
  }

.bal{
    background-color: #fff;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
  }

label {
    display:inline-block;
    margin: 10px 10px;

  }
.forms{
    display: block;
    font-size: 16px;
    width: 350px;
    margin: 7px auto;
    border: 2px solid #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
    border-radius: 20px;
}

input{
    border-radius: 10px;
    margin: 10px auto 25px;
    align-content: center;
    width: 75%;
    height: 30px;
    display: flex;
    justify-content: center;

}
button{
    align-self: center;
}
.btn {
    cursor: pointer;
    background-color: #acdb29;
    color: #fff;
    border: 0;
    display: block;
    width: 350px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 35px auto;
    border-radius: 10px;
}