body {
  text-align: center;
  margin: 0;
  background-color: rgb(5, 90, 116);
  flex-direction: column;
}
.b2 {
  background-color: #000;
  height: fit-content;
  /* padding: auto; */
  /* position:relative; */
  /* margin: 0%; */
  padding: 10%;
}
.black{
    display: flex;
    flex-direction: row;
    /* float: right; */
    background-color:rgb(5, 90, 116);
    color: #bdc3c7;
    /* position: absolute;
    top: 0;
    width: 100%; */
    /* z-index: 10; */

    justify-content:space-between;
  }
  
.one {
  float:right;
}
.navbar {
  width: 100%;
  background-color: rgb(5, 90, 116);
  overflow: auto;
  /* margin-left: 278%; */

}

.navbar a {
  float: left;
  padding: 14px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #000000;
  /* margin-left: 20%; */
}

.name {
  text-align: center;
  color: white;
  /* padding-top: 10%; */
  margin:0%;

}
.web {
  color: pink;
}
.items {
  background-color: rgb(5, 90, 116);
  position: relative;
  bottom: 20px;
  text-align: center;
  margin-top: 7%;
}
.items h2 {
  color: white;
  text-decoration: underline;
}
.cards {
  text-align: center;
  justify-content: center;
  align-items: center;

  /* background-color:rgb(2, 2, 2);
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0%;
    text-align: center;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
     */
}

.project-cards {
  position: relative;
  width: 200px;
  height: auto;
  text-align: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 0px;
}
img {
  height: 175px;
  width: 200px;
}
.top,
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.last {
  background-color: rgb(5, 90, 116);
  color: white;
  position: relative;
  top: auto;
  width: 100%;
  height: fit-content;
}
.survey {
  background-color: #000;
  color: white;
  align-items: left;
  text-align: left;
  position: relative;
  bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;

  justify-content: center;
}
.sub {
  background-color: #000;
  color: white;
  width: 200px;
  height: 20px;
}

.project-cards:hover {
  box-shadow: 5px 5px 10px grey;
}

/* .project-cards img{
    width: 100%;
} */

.project-cards h3 {
  font-size: 1rem;
  margin: auto 0;
}

/* #full-name,
#age,
#email {
  width: 100%;
} */

button {
  background-color: pink;
}
.links {
  display: flex;
  /* position: center; */
  flex-direction: row;
  /* text-align: center; */
  justify-content: space-evenly;
}

.links a {
  margin: 0 5px;
  padding: 3px;
  color: white;
}

.links a:hover {
  opacity: 0.7;
}
.fav {
  /* position: relative; */
  width:30px;
  height: auto;
  text-align: center;
  
  display: flex;
  flex-direction: row;
  /* margin: 100px; */
  padding: 0px;
}
/* .fav{
    height:auto;
    width: 10%;
    margin: 0%;
    padding: 0%;
    margin-left: 25%;
    justify-content: center;  
    align-items: center;
} */
hr{
    color: pink;
    height: 0px;
    /* position: relative;
    bottom: 300px; */
}
.fi{
    background-color:rgb(5, 90, 116) ;
    /* position: relative;
    bottom: 300px;
    height: 5px; */
   

    
}
.img{
  display: flex;
  flex-direction: row;
  /* margin: auto 6%; */
  }
.img a{
  min-width: fit-content;
}

@media screen and (max-width: 850px) {
  .navbar a {
    float: none;
    display: block;
  }
  body {
    background-color: rgb(5, 90, 116);
    height: 200vh;
    justify-items: center;
    text-align: center;
    align-items: center;
  }
  .top,
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-cards,
  .items,
  .cards {
    justify-items: center;
    text-align: center;
    align-items: center;
  }
  /* .survey{
  padding: 10px;
  }  */
  .links {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .img{
    margin-bottom: 10px;
    }
  
  
}

