html {
    font: 62.5%;
}

a {
    border: 1px solid;
    border-color: white;
    border-radius: 55px;
    text-decoration: none;
    font-family: 'Akaya Kanadaka', cursive;
    margin: 10px;
    flex: 1;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.28);
    top: 0;
    z-index: 1;
    width: 100%;
    box-align:center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar li {
    display: inline;
    float: left;
}

.navbar a {
    display: block;
    color:white;
    font-weight: 600;
    padding: 0.5rem 1rem;
    font-size: 25px;
}

.navbar a:hover {
    color: rgb(144, 190, 180);
}

.homepage {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("./assets/bg.jpg");
    background-size: cover;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
}


.badge-base LI-profile-badge{
    position: absolute;
}

.homepage h1 {
    margin: 0;
    text-align: center;
    font-size: 100px;
    font-family: 'Itim', cursive;
    color: white;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid wheat; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
    /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes animated-cursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
.homepage h2 {
    font-family: 'Itim', cursive;
    margin: 0;
    text-align: center;
    color: #66FCF1;
    font-size: 75px;
}

.about {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("./assets/bg2.jpg");
    background-size: cover;
    background-color: #cccccc;;
    display: flex;
    align-items: center;
    justify-content: center;
}


.about p {
    font-family: 'Akaya Kanadaka', cursive;
    color: white;
    width: 60%;
    margin: 0 auto;
    font-size: x-large;
    letter-spacing: 1px;
}

.about a{
    color: lemonchiffon;
    font-style: italic;
}

.about a:hover{
    opacity: 0.7;
}

.work {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("./assets/bg4.jpg");
    background-size: cover;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work h2 {
    color: white;
    text-align: center;
}

.projects {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.project-card {
    position: relative;
    width: 10rem;
    height: 12rem;
    text-align: center;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}

.project-card:hover {
    box-shadow: 5px 5px 10px grey;
}

.project-card img{
    width: 100%;
}

.project-card h3{
    font-size: 1rem;
    margin: auto 0;
}

.work button {
    width: 100%;
    height: 30px;
    background-color: pink;
}

#linkofcon{
    color:white;
    border: 0;
}

.survey {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(https://wallpapercave.com/wp/wp2169874.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.survey h2, .survey p {
    color: white;
    text-align: center;
    margin: 0;
}

.survey form {
    width: 50%;
    color: white;
}

.survey input {
    width: 100%;
}

#option {
    width: 4%;
}

#feedback-input {
    width: 100%;
}

.survey button {
    width: 100%;
    height: 30px;
    background-color: pink;
}

.contact {
    position: relative;
    width: 100%;
    height: 40vh;
    background-color:rgb(20, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact h1 {
    color: white;
}

.contact h3 {
    color: wheat;
}

.links {
    display: flex;
    flex-direction: row;
}

.links a {
    margin: 0 5px;
    padding: 3px;
    width: 100px;
    color: white;
}

.links a:hover {
    opacity: 0.7;
}

.copyright {
    width: 100%;
    bottom: 0;
}

.copyright hr {
    background-color: pink;
    height: 1px;
    border: 0;
    width: 100%;
    margin-top: 50px;
}

.copyright p {
    color: white;
}

@media screen and (max-width:664px) { 
    .flex1{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .tribute{
        text-align: center;
        height:10rem;
        width:35%;
        border-radius: 50%;
        margin-right:0;
        float:none;
    }
    .calculator{
        text-align: center;
        height:10rem;
        width:35%;
        border-radius: 50%;
        margin-right:0;
        float:none;
    }
    .product{
        text-align: center;
        height:10rem;
        width:35%;
        border-radius: 50%;
        margin-right:0;
        float:none;
    }
    .qg{
        text-align: center;
        height:10rem;
        width:35%;
        border-radius: 50%;
        margin-right:0;
        float:none;
    }
    .todo{
        text-align: center;
        height:10rem;
        width:35%;
        border-radius: 50%;
        margin-right:0;
        float:none;
    }
    .project-card{
        text-align: center;
        height:10rem;
        width:35%;
        border-radius: 50%;
        margin-right:0;
        float:none;
    }

}