body {
  text-align: center;
  background-color: #582e2e;
}

#head1 {
  font-size: xx-large;
  margin-bottom: 40px;
  color: #aabb8f;
}
.harsh {
  color: #54add3;
  font-size: larger;
}
#eventDesc {
  width: 200px;
}
#eventDesc,
#amt,
#transdate {
  background-color: #ccb7b9;
  color: black;
  font-size: 15px;
  margin: 5px;
  height: 30px;

  padding: 5px 5px 2px 10px;
}

.fa-trash-o {
  color: rgb(0, 0, 0);
}

form {
  margin-top: 10px;
}

button {
  background-color: #582e2e;
  border-radius: 100%;
  border: #582e2e;
}

.fa-plus-circle {
  color: #000000;
  margin-top: 10px;
}

#table {
  margin-bottom: 20px;
}
.desc {
  color: aquamarine;
}

#leftover,
#gain,
#loss {
  display: inline-block;
  width: 12%;
  text-align: left;
  padding: 15px;
  font-style: italic;
  margin: 100px 20px 30px 34px;
}

#leftover {
  background-color: #ddf313;
}

#gain {
  background-color: rgb(80, 233, 80);
}

#loss {
  background-color: rgb(223, 19, 19);
}

#balance,
#saving,
#expen,
#txt {
  display: inline;
}

table {
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 0.5px solid rgb(185, 169, 169);
}
