

:root {
  --bg: #070606;
  --text: #fcf4f4;
  --line: #f8f5f5;
  --last: #835858;
  --box-shadow: 0 1px 5px rgba(253, 253, 253, 0.2),
    0 1px 5px rgba(248, 244, 244, 0.3);
}

* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif, cursive;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}
.container {
  margin: 30px auto;
  width: 350px;
}
h1 {
  letter-spacing: 1px;
  margin: 0;
}
h3 {
  border-bottom: 1px solid var(--line);
  padding: 10px;
  margin: 40px 0 10px;
}
h4 {
  margin: 0;
  text-transform: uppercase;
  color: var(--last);
}
p {
  color: var(--bg);
  font-weight: bold;
}
.inc-exp-container {
  background-color: var(--line);
  padding: 20px;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.inc-exp-container > div {
  flex: 1;
  text-align: center;
}
.inc-exp-container > div:first-of-type {
  border-right: 1px solid var(--last);
}
.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}
.money.plus {
  color: forestgreen;
}
.money.minus {
  color: crimson;
}
label {
  display: inline-block;
  margin: 10px 0;
  font-size: large;
  font-weight: bold;
  text-decoration: underline;
}
input[type="text"],
input[type="number"] {
  border: 1px solid var(--last);
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
.btn {
  cursor: pointer;
  background-color: var(--line);
  box-shadow: var(--box-shadow);
  color: var(--bg);
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}
.btn:focus,
.delete-btn:focus {
  outline: none;
}
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
.list li {
  background-color: var(--text);
  color: var(--bg);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}
.list li.plus {
  border-right: 5px solid forestgreen;
}
.list li.minus {
  border-right: 5px solid crimson;
}
.delete-btn {
  cursor: pointer;
  background-color: var(--line);
  border: 0;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.list li:hover .delete-btn {
  opacity: 1;
}
